<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- Coded by Yair Silbermintz - yair[at]silbermintz.com -->
<head>
	<title>{% block title %}This is a website!{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="keywords" content="{% block keywords %}These are some keywords{% endblock %}" />
	<meta name="description" content="{% block description %}This is a description{% endblock %}" />
	<meta name="robots" content="noindex, nofollow" /><!-- chenge this when you launch!!! -->

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css" /> 
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/fonts/fonts-min.css" />
	<!-- <link rel="stylesheet" type="text/css" href="/css/main.css" /> -->
	<!-- <script type="text/javascript" src="/js/main.js"></script> -->
</head>

<body>
	{% block content %}This is some content!{% endblock %}
</body>
</html>