<!DOCTYPE html>
<html>
<!-- Coded by Yair Silbermintz - yair[at]silbermintz.com -->
<head>
	<title>This is a website!</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="keywords" content="These are some keywords" />
	<meta name="description" content="This is a description" />
	<meta name="robots" content="noindex, nofollow" /><!-- chenge this when you launch!!! -->

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css" /> 
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/fonts/fonts-min.css" />
	<!-- <link rel="stylesheet" type="text/css" href="/css/main.css" /> -->
	<!-- <script type="text/javascript" src="/js/main.js"></script> -->
</head>

<body>
	This is some content!
</body>
</html>